
.navbar {
  width: 100%; 
  background-color: dark; 
}


.ml-auto {
  margin-left: auto;
}


.navbar a,
.navbar button {
  color: #fff;
  margin-right: 10px;
  font-family: 'cursive';
}


.navbar a.active,
.navbar button.active {
  font-weight: bold; 
}

.brand-text {
  font-size: 24px;
  font-weight: bold;
  color: #666; 
 
}

.fancy-text {
  font-size: 36px;
  font-weight: bold;
  color: #ff5733; 
  font-family: 'cursive'; 

}