.sign-up-card {
  background-color: #f7f7f7; /* Light gray background color */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
}

.sign-up-sheet {
  text-align: center;
}

.sign-up-form {
  margin: 0 auto;
  max-width: 400px; /* Adjust the max-width as needed */
}

h2 {
  color: #333; /* Slightly darker text color */
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: #555; /* Darker label text color */
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Light border */
  border-radius: 5px;
  color: #333;
}

.input:focus {
  outline: none;
  border-color: #007bff; /* Blue border color on focus */
}

.submit-button {
  background-color: #007bff; /* Blue button background color */
  color: #fff; /* White button text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3; /* Slightly darker blue on hover */
}
