body {
  background-color: #5b6269;
}

table {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.review-link {
  text-decoration: none !important;
  color: white;
}

.user-review-link {
  color: #212529;
}

.tiny-text {
  font-size: 0.8em; /* Adjust the font size as needed for "tiny" text */
  color: #cccccc; /* Use a slightly darker color than white */
}
